.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: #e4ece9;
    /* border: 2px solid #ddd; */
    border-radius: 15px;
    z-index: 2;
    position: absolute;
}

.modal .headingWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoEditWrapper {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.modal label {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 0.9em;
    border: solid #040d12 1px;
    border-radius: 0.4rem;
    background-color: #e4ece9;
    box-shadow: 4px 4px 4px #8d8d8d;
    /* width: auto;
    flex-grow: 1; */
    /* margin-left: 1rem; */
}

.modal input:nth-last-child() {
    flex: none;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btnWrapper {
    display: flex;
    gap: 0.4rem;
    justify-content: flex-end;
}

.btn {
    display: inline-block;
    padding: 0.4rem 1.4rem;
    font-weight: 700;
    color: #364832;
    border-radius: 0.4rem;
    text-align: center;
    font-size: 1em;
}

.saveBtn {
    background-color: #1a8755;
    color: #ffff;
    box-shadow: 4px 4px 4px #8d8d8d;
}

.btnClose {
    /* transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 0.2rem; */

    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.btnClose .closeModalIcon {
    width: 28px;
}

.btnClose .closeModalIconHover {
    width: 28px;
    display: none;
}

.btnClose:hover .closeModalIcon {
    display: none;
}

.btnClose:hover .closeModalIconHover {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}
