.nav {
    display: flex;
    justify-content: center;
}

.navWrapper {
    display: flex;
    width: 40%;
    margin-top: 8rem;
    align-items: center;
    background-color: #aed8cc;
    border: solid #461959 0.2rem;
    border-radius: 0.4rem;
}

.navImg {
    width: 48px;
    margin: 1rem;
}

.navTitle {
    font-family: "Poppins", sans-serif;
    margin-left: 2rem;
    color: #461959;
}
