.note-wrapper-completed {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    justify-content: space-between;
    background-color: #6b8f64;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    align-items: center;
}

.note-wrapper-uncompleted {
    background-color: #93635c;
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    align-items: center;
}

.note-status {
    font-style: italic;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.note-button {
    border: none;
    border-radius: 0.2rem;
    text-align: center;
    background-color: #ffff;
    color: #555555;
    padding: 0.5rem;
    transition-duration: 0.4s;
}

.note-button:hover {
    background-color: #555555;
    color: #ffff;
}
