.notes-body {
    display: flex;
    justify-content: center;
}

.notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 8rem;
    border: solid #461959 0.2rem;
    border-radius: 0.4rem;
    padding: 2rem;
}
