.notesBody {
    display: flex;
    justify-content: center;
}

.notesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 8rem;
    border: solid #040d12 0.2rem;
    background-color: #e4ece9;
    border-radius: 0.4rem;
    padding: 2rem;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.input {
    border: solid #040d12 0.2rem;
    border-radius: 0.4rem;
    width: 75%;
    background-color: #e4ece9;
    box-shadow: 4px 4px 4px #8d8d8d;
}

.inputButton {
    border: solid #040d12 0.2rem;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    background-color: #93b1a6;
    transition-duration: 0.4s;
    box-shadow: 4px 4px 4px #8d8d8d;
}

.inputButton:hover {
    background-color: #e4ece9;
}
