.notesBody {
    display: flex;
    justify-content: center;
}

.notesContainer {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 40%;
    margin-top: 1rem;
    /* margin-bottom: 8rem; */
    border: solid #040d12 0.2rem;
    background-color: #e4ece9;
    border-radius: 0.4rem;
    padding: 2rem;
    max-height: 500px;
    overflow-y: auto;
}

.notesContainer::-webkit-scrollbar {
    width: 10px;
}

.notesContainer::-webkit-scrollbar-thumb {
    background-color: #93b1a6;
    border: 0.1rem solid #e4e4e4;
    border-radius: 0.4rem;
}

.notesContainer::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 0.4rem;
}

.notesContainer::-moz-scrollbar {
    width: 10px;
}

.notesContainer::-moz-scrollbar-thumb {
    background-color: #93b1a6;
    border: 0.1rem solid #e4e4e4;
    border-radius: 0.4rem;
}

.notesContainer::-moz-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 0.4rem;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
    justify-content: space-between;
}

.input {
    border: solid #040d12 0.2rem;
    border-radius: 0.4rem;
    width: auto;
    flex-grow: 1;
    background-color: #e4ece9;
    box-shadow: 4px 4px 4px #8d8d8d;
    padding: 0 1rem;
}

.inputButton {
    border: solid #040d12 0.2rem;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    background-color: #93b1a6;
    transition-duration: 0.4s;
    box-shadow: 4px 4px 4px #8d8d8d;
}

.inputButtonMin {
    border: solid #040d12 0.2rem;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    background-color: #93b1a6;
    transition-duration: 0.4s;
    box-shadow: 4px 4px 4px #8d8d8d;
    display: none;
}

.inputButton:hover {
    background-color: #e4ece9;
}

@media only screen and (max-width: 1380px) {
    .inputButton {
        display: none;
    }
    .inputButtonMin {
        display: inline-block;
    }
}

@media only screen and (max-width: 1000px) {
    .notesContainer {
        width: 60%;
    }
}

@media only screen and (max-width: 680px) {
    .notesContainer {
        width: 80%;
    }

    .input {
        width: auto;
    }
}

@media only screen and (max-width: 480px) {
    .inputButton {
        display: inline-block;
    }
    .inputButtonMin {
        display: none;
    }

    .inputWrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .input {
        height: 46px;
    }
}

.filterBtn {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
    border-bottom: solid transparent 0.2rem;
}

.filterBtn:hover {
    border-bottom: solid #040d12 0.2rem;
}
