.nav {
    display: flex;
    justify-content: center;
}

.navWrapper {
    display: flex;
    width: 40%;
    margin-top: 4rem;
    align-items: center;
    background-color: #93b1a6;
    border: solid #040d12 0.2rem;
    border-radius: 0.4rem;
}

.navImg {
    width: 48px;
    margin: 1rem;
}

.navTitle {
    font-family: "Poppins", sans-serif;
    margin-left: 2rem;
    color: #040d12;
}

@media (max-width: 1000px) {
    .navWrapper {
        width: 60%;
    }
}

@media (max-width: 680px) {
    .navWrapper {
        width: 80%;
    }
}
