.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: #e4ece9;
    /* border: 2px solid #ddd; */
    border-radius: 15px;
    z-index: 2;
    position: absolute;
}

.modal .headingWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: #364832;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btnClose {
    /* transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 0.2rem; */

    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.btnClose .closeModalIcon {
    width: 28px;
}

.btnClose .closeModalIconHover {
    width: 28px;
    display: none;
}

.btnClose:hover .closeModalIcon {
    display: none;
}

.btnClose:hover .closeModalIconHover {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

/* .hidden {
    display: none;
} */
