.noteWrapper {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border: solid #040d12 0.2rem;
    border-radius: 0.5rem;
    align-items: center;
}

.completed {
    background-color: #6b8f64;
}

.completed h3 {
    text-decoration: line-through;
}

.noteStatus {
    font-style: italic;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.noteButton {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.btnImg {
    width: 28px;
}
