.noteWrapper {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border: solid #040d12 0.2rem;
    border-radius: 0.5rem;
    align-items: center;
    overflow-wrap: break-word;
}

.todoTitle {
    inline-size: 300px;
    overflow: hidden;
}

.completed {
    background-color: #6b8f64;
}

.completed h3 {
    text-decoration: line-through;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.noteButton {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.btnImg {
    width: 28px;
}

@media screen and (max-width: 530px) {
    .noteWrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .todoTitle {
        inline-size: 200px;
        text-align: center;
        padding: 0 1rem;
    }

    .buttonWrapper {
        justify-content: center;
    }
}
